
.containerStateOrder {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;

   
    .containerOrder{
        width: 100%;
        display: flex;
        justify-items: center;
        justify-content: center;
        flex-wrap: wrap;
<<<<<<< HEAD
        gap: 30px;
        padding: 20px;

=======
        width: 90%;
        margin: auto;
        padding: 3%;
>>>>>>> d754fe305f9a087e175c1a431c2951288fe3c003
   
    }
}
