
.containerStateOrder {
    width: 100%;
    min-height: 100vh;
    
    .containerOrder{

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        padding: 3%;
    
    }
}