.cartItem {
    height: 100%;
    background-color: black;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    gap: 10px;
    img{

        // height: 50px;
        // width: 50px;
        width: 25%;
        max-width: 120px;
        max-height: 100px;
        border-radius: 5px;
    }
    .dataContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 15px 0;

        .left {
            min-width: 100px;
        //     // padding-left: 20px;
        //     display: flex;
        //     flex-direction: row;
        //     align-items: center;
        //     justify-content: space-between;
        //     gap: 10%;
        //     overflow: hidden;

        //     p {
        //         font-weight: bold;
        //         font-size: 16px;
        //     }
        }

            .right {
                // display: flex;
                // flex-direction: column;
                // justify-content: space-between;

                .btnGroup{
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    gap: 5px;

                    .btnRest, .btnAdd{
                        background-color: transparent;
                        color: #FFD233;
                    }
                }
        
                .acum {
                    background-color: #FFD233;
                    color: black;
                    width: 20px;
                    height: 20px;
                    border-radius: 999px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    font-weight: bold;
                }
        
                p {
                    margin: 0;
                    padding: 0;
                    font-weight: bold;
                    flex-direction: row;
                }
            }
    }

}